*.class
*.class
/ProyectoUnidad1Arqui/target/classes/estructurasDeDatos
/ProyectoUnidad1Arqui/target/classes
/ProyectoUnidad1Arqui/target
ProyectoUnidad1Arqui/target/classes/estructurasDeDatos/Stack.class
